*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0b1220;
  color:white;
}

/* Topbar */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#070b14;
  border-bottom:1px solid #1f2a44;
}

button{
  background:#00a2ff;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

/* Hero */
.hero{
  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:20px;
  padding:30px;
}

.card{
  background:#111a2e;
  padding:25px;
  border-radius:15px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.big{
  border:1px solid #00a2ff;
}

#followers{
  font-size:3rem;
  color:#00a2ff;
  margin-top:10px;
}

.card div{
  font-size:2rem;
  color:#00a2ff;
  margin-top:10px;
}

/* Log */
.log{
  margin:30px;
  background:#111a2e;
  padding:20px;
  border-radius:15px;
}

#feed{
  margin-top:10px;
  font-size:14px;
  color:#94a3b8;
}
