*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0b1220;
  color:white;
}

/* Topbar */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#070b14;
  border-bottom:1px solid #1f2a44;
}

button{
  background:#00a2ff;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

/* Layout */
.container{
  padding:30px;
}

/* Card */
.card{
  background:#111a2e;
  padding:25px;
  border-radius:15px;
  border:1px solid #1f2a44;
}

.big h2{
  color:#94a3b8;
}

#followers{
  font-size:3rem;
  color:#00a2ff;
  margin-top:10px;
}

/* Info */
.info{
  margin-top:30px;
  background:#111a2e;
  padding:20px;
  border-radius:15px;
  border:1px solid #1f2a44;
}

.info p{
  margin-top:10px;
  color:#94a3b8;
}

/* Footer */
.footer{
  margin-top:40px;
  padding:20px;
  text-align:center;
  background:#070b14;
  border-top:1px solid #1f2a44;
  color:#94a3b8;
}
